<div>dico</div>
{{% schema %}
{
    "name": "disco",
    "settings": [
        
        ],
        "presets":[
            {
                "name": "dico"
            }
        ]
}
{% endschema %}}